<!DOCTYPE html>
<html>
<head>
<style>

<div>
body {
  background-color:black;
}

h1 {
  font-family: monospace;  
  color: blue;
  text-align: left;
}

h3 {
  color: teal;
  font-family: monospace;
  text-align: left;
}

</style>
</head>

<h1>Welcome Sneaker Head  <%=current_user.username%></h1>


<table border=1>
<tr>
    <td>Name:</td>
    <td>Price:</td>
    <td>Brand:</td>
    <td>Edit Sneaker</td>
</tr>

<% @sneaker.each do |sneaker|%>
<tr>
<form action="sneakers/<%=sneaker.id%>" method="post">
    <td><%= sneaker.sneaker_name%></td>
    <td><%= sneaker.sneaker_price %></td>
    <td><%= sneaker.sneaker_brand %></td>
    <td>

    <a href='/sneakers/<%=sneaker.id%>/edit'>Update Sneaker</a>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="X DELETE" style="color:red "></td>
</tr> 
</form>
<%end%>
</table>
</div>


<a href="/">Home Page</a>
<a href='/sneakers/new'>Add New Sneaker</a>

